@import (reference) '../styles.less';

:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: @valant-header-color;
  color: white;
  padding: 5px;
}

main {
  padding: 0 36px;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 40px 0 10px 0;
}

nav a {
  display: inline-block;
  color: #000;
  background: #dbeccd;
  padding: 0.5rem 1rem;
  width: 7rem;
  text-decoration: none;
  white-space: nowrap;
}

nav a.active {
  background-color: #396e7e;
  color: white;
  font-weight: 500;
}

nav a:hover:not(.active) {
  background-color: #396efe;
  color: white;
}